body{

font-family:Arial;
background:#f4f4f4;
padding:40px;

}

h1{

text-align:center;

}

.upload{

background:white;
padding:20px;
border-radius:10px;
margin-bottom:20px;

}

.progressBox{

background:white;
padding:15px;
border-radius:10px;
margin-bottom:30px;
text-align:center;

}

#uploadedDates{

background:white;
padding:15px;
border-radius:10px;
margin-bottom:30px;

}

table{

width:100%;
border-collapse:collapse;
margin-bottom:40px;

}

th,td{

border:1px solid #ccc;
padding:10px;
text-align:center;

}

th{

background:black;
color:white;

}

tr:nth-child(even){

background:#fafafa;

}

button{

padding:10px 20px;
background:green;
color:white;
border:none;
border-radius:6px;
cursor:pointer;

}

canvas{

background:white;
padding:20px;
border-radius:10px;

}